<%- contentFor('body') %>
  <h2>Editar Registro de Provas</h2>
  <form action="/user/edit/<%= details._id %>" method="POST">
    <input type="text" value="<%= data.title %>" name="title">
    <% data.questions.forEach(function(question) { %>
      <input type="text" value="<%= question.title %>" name="question">
      <% }) %>
        <br />
        <button><a href="/user/show">Todos</a></button>
        <button type="submit">Editar</button>
  </form>