<%- contentFor('body') %>
  <section>
    <h2>Criar Prova</h2>
    <form action="/exam/show" method="POST">
      <input type="text" placeholder="Título da Prova" name="title">
      <div id="questions">
        <button id="addQuestion">Adicionar Questão</button>
      </div>
      <button type="submit">Submit</button>
    </form>
  </section>