<%- contentFor('body') %>
  <h2>Registrar Professor<h2>
      <form action="/teacher/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <button type="submit">Enviar</button>
      </form>