<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My CRUD in NodeJS</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Users</a></li>
          <li><a href="/institution">Instituições</a></li>
        </ul>
      </nav>
    </header>

    <%- body %>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
