<%- contentFor('body') %>
<div class="container">
  <h2>Registrar Instituição</h2>
  <form action="/institution/show" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="mb-3">
      <label for="cnpj" class="form-label">CNPJ</label>
      <input
        type="text"
        class="form-control"
        id="cnpj"
        name="cnpj"
        maxlength="18"
      />
    </div>
    <div class="mb-3">
      <label for="telephone" class="form-label">Telefone</label>
      <input type="text" class="form-control" id="telephone" name="telephone" />
    </div>
    <div class="mb-3 form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="situationINput"
        name="situationInput"
      />
      <label class="form-check-label" for="situationInput">Situação</label>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>
