<%- contentFor('body') %>

<div class="container">
  <h2>Registrar Estudante</h2>
  <form action="/student/show" method="POST">
    <div class="form-group">
      <label for="form-name">Nome</label>
      <input
        type="text"
        class="form-control"
        required="required"
        id="form-name"
        name="name"
      />
    </div>

    <div class="form-group">
      <label for="form-surname">Sobrenome</label>
      <input
        type="text"
        class="form-control"
        required="required"
        id="form-surname"
        name="surname"
      />
    </div>

    <div class="form-group">
      <label for="form-education">Idade</label>
      <input
        type="number"
        class="form-control"
        required="required"
        id="form-age"
        name="age"
      />
    </div>

    <div class="form-group">
      <label for="form-rg">RG</label>
      <input
       
        type="text"
        step="0.01"
        class="form-control"
        required="required"
        id="form-rg"
        name="rg"
      />
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button></a>
    <a class="btn btn-secondary" href="/student/show/">Voltar</a>
    
  </form>
</div>



